# Cache files
.cache/
logs/
.DS_Store

# IDE files
.vscode
.vs
.idea

# Build files
**[Bb]uild**
**[Bb]in**
**[Oo]bj**
**[Tt]arget**
[Oo]ut
engine/include/
vcpkg_installed/

!engine/src/**

compile_commands.json
CMakeUserPresets.json
**.sln
vsxmake**/
vs**/
Cargo.lock
*.user
