# Cache files
.cache/
.xmake/
logs/
.DS_Store

# IDE files
.vscode
.vs
.idea

# Build files
**[Bb]uild**
**[Bb]in**
**[Oo]bj**
**[Tt]arget**

compile_commands.json
CMakeLists.txt
**.sln
vsxmake**/
vs**/
Cargo.lock
