* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

@media (min-width: 1920px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 2560px) {
    html {
        font-size: 24px;
    }
}

@media (min-width: 3840px) {
    html {
        font-size: 32px;
    }
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: transparent;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-text {
    font-size: 3rem;
    color: white;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.8);
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-text {
    font-size: 2rem;
    color: #FFB6D9;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.8);
    padding-bottom: 1.25rem;
}
